@model DB_Task.Models.CategoryModel
@Html.ValidationSummary(true)

@{
    ViewData["Tittle"] = "Страница добавления";
}
<h2>Добавить категорию</h2>
@using (Html.BeginForm("AddCategory", "Home", FormMethod.Post))
{
    <div class="form-row">
        <div class="m-3 form-group col-md-6">
            @Html.LabelFor(m => m.Tittle, "Название категории:", new { @class = "mb-2" })
            @Html.TextBoxFor(m => m.Tittle, new { type = "text", @class = "form-control", placeholder = "Название" })
            @Html.ValidationMessageFor(m => m.Tittle)
        </div>
        <input type="submit" class="m-3 btn btn-primary mt-3" value="Добавить" />
    </div>
}


